*,
*::before *::after {
    box-sizing: border-box;
}


:root {
    /* Font family */
    --ff-primary:
        --ff-secondary: -fw-reg: 300;
    -fw-bold: 900;

    --clr-background: rgb(241, 239, 239);
    --clr-dark: #363434;
    --clr-accent: #0CA4BD;

    /* font size */
    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, .25),
        0.125em 0.125em 0.25em rgba(0, 0, 0, .15);

}

@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-h4: 1.125rem;
    }
}

/* General styles */

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--clr-background);
    color: var(--clr--dark);
    margin: 0;
    font-style: var(--clr-dark);
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;

    font-family: 'Domine', serif;
    overflow-x: hidden;

}

section {
    padding: 5em 2em;
}


img {
    display: block;
    max-width: 100%;
}

strong {
    font-weight: var(--fw-bold)
}

:focus {
    outline: 3px solid var(--clr-accent);
    outline-offset: 3px;
}

/* Buttons */
.btn {
    display: inline-block;
    padding: .5em 2.5em;
    background: var(--clr-accent);
    color: var(--clr-dark);
    text-decoration: none;
    cursor: pointer;
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    transition: 200ms ease-in-out;
}

.btn:hover {
    transform: scale(1.1);
}

/* Typography */
h1,
h2,
h3 {
    line-height: 1;
    margin: 0;
}

h1 {
    font-size: var(--fs-h1)
}

h2 {
    font-size: var(--fs-h2)
}

h3 {
    font-size: var(--fs-h3)
}

h4 {
    font-size: var(--fs-h4);
}

.section__title {
    margin-bottom: .25em;

}

.section__title--intro {
    font-weight: var(--fw-reg);

}

.section__title--intro strong {
    display: block;
}


.section__subtitle {
    margin: 0;
    font-size: var(--fs-h3);
}

.section__subtitle--intro,
.section__subtitle--about {
    background: var(--clr-accent);
    padding: .25em 1em;
    font-family: var(--ff-secondary);
    margin-bottom: 1em;
}

.section__subtitle--work {
    color: var(--clr-accent);
    font-weight: var(--fw-bold);
    margin-bottom: 2em;
}

/* header */

header {
    display: flex;
    justify-content: center;
    padding: 1em;
}

.nav-toggle {
    display: none;
}
.nav {
    /* display: flex; */
    /* justify-content: center;
    align-items: center; */
}

.nav__list {

    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    background: hsl(0 0% 100% /0.1);
    backdrop-filter: blur(1rem);
    gap: 2em;

}

@media (max-width: 800px) {
    .nav__list {
        position: fixed;
        inset: 0 0 0 30%;
        flex-direction: column;
        padding: min(30vh, 10rem) 2em;

        background: hsl(0 0% 0% / 0.5);
        backdrop-filter: blur(1rem);
        z-index: 100;

        transform: translateX(100%);
        transition: transform 500ms ease-out;

    }

    #primary-navigation[data-visible="false"] {
        transform: translateX(0%);
    }

    .nav-toggle {
        display: block;
        position: absolute;
        background: red;
        width: 1rem;
        aspect-ratio: 1;
        top: 2rem;
        right: 2rem;
        z-index: 999;
    }

    .nav-toggle[aria-expanded='true'] {
        background: #0CA4BD;
    }
}



/* @supports is "if function is supported by browser" */
/* backdrop-filter: blur; is not supported by firefox so it will default without @support */
@supports (backdrop-filter: blur(1rem)) {
    .nav__list {
        background: hsl(0 0% 100% /0.1);
        backdrop-filter: blur(1rem);
    }
}

.nav__item {
    /* justify-content: center; */
}

/* Intro section */
.intro {
    position: relative;
}

.intro__img {
    box-shadow: var(--bs);
}

.section__subtitle--intro {
    display: inline-block;
}


@media (min-width: 600px) {
    .intro {
        display: grid;
        width: min-content;
        grid-column-gap: 1em;
        grid-template-areas:
            "img title"
            "img subtitle";
        grid-template-columns: min-content max-content;
    }


    .intro__img {
        grid-area: img;
        min-width: 250px;
        position: relative;
        z-index: 2;
    }

    .section__subtitle--intro {
        align-self: start;
        grid-column: -1/1;
        grid-row: 2;
        text-align: right;
        position: relative;
        left: -1.5em;
        width: calc(100% + 1.5em);
    }

    /* My services section */
    .my-services {

        background-color: var(--clr-dark);
        background-image: url(../Images/bed.jpg);

        background-size: cover;
        background-blend-mode: multiply;
        color: var(--clr-background);
        text-align: center;
    }

    .section__title--services {
        color: var(--clr-accent);
        position: relative;
    }

    .section__title--services::after {
        content: '';
        display: block;
        width: 2em;
        height: 1px;
        margin: 0.5em auto 1em;
        background: var(--clr-background);
        opacity: 0.25;
    }

    .services {
        max-width: 500px;
        margin: 0 auto;
        opacity: 0;
        transition: opacity 1000ms ease-in;
    }

    .services.appear {
        opacity: 1;
    }

    @media (min-width: 800px) {

        .services {
            display: flex;
            max-width: 1000px;
            margin-left: auto;
            margin-right: auto;
        }

        .service+.service {
            margin-left: 2em;
        }

    }


    .about-me {
        max-width: 1000px;
        margin: 0 auto;
    }

    @media (min-width: 600px) {
        .about-me {
            display: grid;
            grid-template-columns: 1fr 200px;
            grid-template-areas:
                "title img"
                "subtitle img"
                "text img";
            grid-column-gap: 2em;
        }

        .section__title--about {
            grid-area: title;
        }

        .section__subtitle--about {
            grid-column: 1 /-1;
            grid-row: 2;
            position: relative;
            left: -1em;
            width: calc(100% + 2em);
            padding-left: 1em;
            padding-right: calc(200px + 4em);
        }
    }

    .about-me__img {
        grid-row: 1 /-1;
        grid-column: 2;
        z-index: 2;
        box-shadow: var(--bs);
    }

}

/* My work */
.my-work {
    background-color: var(--clr-dark);
    color: var(--clr-background);
    text-align: center;
}

.left {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.right {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-bottom: 50px;
}

.from-left {
    transform: translateX(-50%);
}

.from-right {
    transform: translateX(50%);
}

.from-right,
.from-left {
    transition: opacity 250ms ease-in, transform 600ms ease-in;
    opacity: 0;
}

.from-right.appear,
.from-left.appear {
    transform: translateX(0);
    opacity: 1;
}

.portfolio>.left>p,
.portfolio>.right>p {
    padding: 15px;
}

.portfolio__item {
    overflow: hidden;
    box-shadow: 0px 10px 15px -3px rgba(255, 255, 255, 0.1);


}

.portfolio__img {
    transition: transform 750ms cubic-bezier(.5, 0, .5, 1),
        opacity 250ms linear;
}

.portfolio__item:focus {
    position: relative;
    z-index: 2;
}

.portfolio__img:hover,
.portfolio__item:focus .portfolio__img {
    transform: scale(1.2);
    opacity: .5;
}

.my_work_buttons {
    display: flex;
    justify-content: center;

}

.my_work_links {
    margin-right: 15px;
    width: 150px;
    border: none;
    background-color: #fff;
    color: #0CA4BD;
    height: 35px;
    border-radius: 30px;
    margin-top: 10px;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);

}

.my_work_links:hover {
    background-color: #0CA4BD;
    color: #fff;
    cursor: pointer;
}

#contact_me>h2,
h2+p {
    text-align: center;
}

.contact_box {
    display: flex;
    justify-content: space-around;

}

.contact_left {
    flex-basis: 60%;
    /* padding: 40px 60px; */
    /* background-color: #0CA4BD; */

}

.contact_right {
    /* flex-basis: 40%; */
    /* padding: 40px; */

}

/* #contact_me>h2 {
    padding-bottom: 40px;
} */

#contact_me>p {
    margin-bottom: 60px;
    text-align: center;
    /* padding-right: 50px; */
    background-color: #0CA4BD;
}

.honeypot {

    display: none;
}

.input_name_email {
    display: flex;
    justify-content: space-between;
    padding: 5px;

}

.input_field {
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 5px;
    border-radius: 10px;

}

textarea {
    width: 100%;
    border: 1px solid #ccc;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;

}

label {
    margin-bottom: 6px;
    display: block;
    color: #363434;
}

.contact_buttons_container>ul {
    display: flex;
    list-style: none;
    justify-content: space-around;

}

.contact_buttons {
    width: 150px;
    border: none;
    background-color: #fff;
    color: #0CA4BD;
    height: 35px;
    border-radius: 30px;
    margin-top: 10px;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);

}

.contact_buttons:hover {
    background-color: #0CA4BD;
    color: #fff;
    cursor: pointer;
}

.contact_info {
    list-style: none;

}


a {
    margin: 0px 10px;
}

.contact_info_a {
    margin-bottom: 20px;
    display: flex;
}

i {
    color: #0CA4BD;
}

/* footer */
.footer {

    color: var(--clr-accent);
    text-align: center;
    pad: 2.5em 0;
    font-size: var(--fs-h3);
    background-color: #0CA4BD;
}

.footer a {
    color: inherit
}

.footer-link {
    font-size: var(--fs-h3);
    font-weight: var(--fw-bold);

}

.footer-link:hover,
.social-list__link:hover {
    opacity: .7;
}

.social-list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 2em 0 0;
    padding: 0;
}

.social-list__item {
    margin: 0 .5em;
    padding: .5em;
}

.footer_icon {
    color: #fff;
}

.footer_icon:hover {
    transform: scale(1.5) translateY(-5px);
    transition: 500ms ease-in-out;
}